body
{
    background: #E0FFFF; /* Цвет фона таблицы */
    color: #00868B; /* Цвет текста */
    width: 100%; /* Ширина таблицы в процентах */
    height:100%;
    border:0;
}
  
#Dates {
	background:red;
        color:red;
        font-family: arial, verdana, sans-serif;
	}
 A:link { 
    color: #036; /* Цвет непосещенных ссылок */
   }
   A:visited { 
    color: #606; /* Цвет посещенных ссылок */
   }
   A:hover { 
    color: #f00; /* Цвет ссылок при наведении на них курсора мыши */
   }
   A:active { 
    color: #ff0; /* Цвет активных ссылок */
   }
INPUT:focus { 
    color: #00868B; /* Красный цвет текста */
   }
td.left1{background: #96CDCD;}
td.left2{background: #96CDCD;}
td.left3{background: #96CDCD;}
td.right1{background: #96CDCD;}
td.right2{background: #96CDCD;}
td.right3{background: #96CDCD;}
td.center1{background: #96CDCD;}
td.center2{background: #E0FFFF;}
td.center3{background: #96CDCD;}
td.head{background: #E0FFFF;}
 
	